.container {
    margin-left: 200px;
    margin-top: 40px;
    margin-right: 50px;
}

.annees {
    align-items: center;
    display: inline-block;                    
    text-align: center;
    margin-left: 2%;
    margin-bottom: 25px;
    width: auto;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(71, 75, 71, 0.25);;
}

.name-annee {
    text-align: center;
    font-size: 1.7em;
    color: rgb(38, 66, 43);
    font-weight: bold;
}

.perso-pro {
    text-align: justify;
    padding-left: 15px;
    font-size: 1.35em;
}

.bulle {
    align-items: center;
    display: inline-block;                    
    text-align: center;
    font-size: 1.3em;
    border: 2px solid #7e907e8e;
    padding: 20px;
    width: 21%;
    margin-left: 4%;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: background-color 0.2s;
} 

.bulle:hover {
    background-color: #65916547;
    border: 2px solid rgba(38, 66, 43, 0);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
    cursor: pointer;
}

.name-project {
    font-weight: bold;
    color: rgb(38, 66, 43);
}

.description {
    color: #707e72;
}