.main-container {
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 40px;
}

.article-container {
    margin-top: 3%;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(71, 75, 71, 0.25);;
}

.article-container:hover {
    background-color: #65916547;
    border: 2px solid rgba(38, 66, 43, 0);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
    cursor: pointer;
}

.name-article {
    font-size: 1.2em;
    color: rgb(38, 66, 43);
    font-weight: bold;
}